numpy
pandas
librosa
scikit-learn
streamlit
matplotlib
seaborn
soundfile
joblib
requests
tqdm
huggingface_hub
python-dotenv
yt-dlp
elevenlabs
openai-whisper
torch
torchvision
transformers
sentence-transformers
moviepy
anthropic
pydantic

